#container{
    width: 250px;
    padding: 20px;
    display: inline-block;
    position: relative;
    float: left;
}
#profilePicBox{
    height: 220px;
    border-radius: 20px;
}
.flot-left{
    float: left;
    margin: 0px 7px;
    font-size: 25px;
}
a{
    color: inherit;
}
a:hover{
    color: #007bff;
    text-decoration: none;
}