#mainContainer{
    position: relative;
    display: inline-block;
    padding: 15px;
    border-left: 1px solid grey;
    min-height: 500px;
}

#postContainer{
    margin: 10px 0px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
}

.divInline{
    display: inline-block;
}