<div>
<nav class="navbar navbar-inverse bg-primary" style="justify-content: flex-start;">
      <a class="nav-link" routerLink="/newsfeed">
      <img src="/assets/images/connect.png" style="height: 25px;"/></a>
      <input type="search" size="50" style="border-radius: 5px"/>
      <a class="nav-link" routerLink="/profile" style="color: white;">Profile</a>
      <a class="nav-link" routerLink="/setting" style="color: white;">Setting</a>
      <a class="nav-link" routerLink="/notification" style="color: white;">Notification</a>
</nav>
</div>