<div id="container" *ngIf="data">
  <div>
      <img id="profilePicBox" src='{{data.result.profilePic}}'/>
  </div>
  <div>
    <h3 style="text-align: center">{{data.result.fname}} {{data.result.lname}}</h3>
  </div>
  <div style="height: 35px;">
    <a routerLink="/newsfeed">
            <span class="material-icons flot-left">public</span>
            <span>News Feed</span>
      </a>
  </div>

  <div style="height: 35px;">
    <a routerLink="/profile">
            <span class="material-icons flot-left">person</span>
            <span>Profile</span>
      </a>
  </div>

  <div style="height: 35px;">
    <a routerLink="/friends">
            <span class="material-icons flot-left">people</span>
            <span>Friends</span>
      </a>
  </div>

  <div style="height: 35px;">
    <a routerLink=" ">
            <span class="material-icons flot-left">question_answer</span>
            <span>Messages</span>
      </a>
  </div>

</div>